.header{
  position: absolute;
  width: 1896px;
  height: 1241.39px;
  left: -211px;
  top: -54.12px;
 .header-background{
   position : absolute;
   z-index : -1;
   width: 1734px;
   height: 1005.12px;
   left: -49px;
   top: -54.12px;
 }



}